.feedback_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 400px;
  height: fit-content;
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
  color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 10px;
}
.button_control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100px;
}
.count {
  font-size: 40px;
  font-weight: bold;
}

